.container-fluid
	.navbar-header
		a.navbar-brand(href='#') Name

	ul.nav.navbar-nav.navbar-left
		li.active
			a(href='#') Backlog
		li
			a(href='#') Glossary

	button.btn.btn-default.navbar-btn(type='button') Save

	form.navbar-form.navbar-right(role='search')
		.form-group
			input.form-control(type='text', placeholder='Search')
