doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='viewport', content='user-scalable=0')
		meta(name='google', content='notranslate')
		title Backlog.js
		link(rel='stylesheet', href='css/app.css')
		script(defer, src='/js/vendor.js')
		script(defer, src='/js/app.js', onload='require("application")')
	body
		.container
