@media print
	body
		font-size 8px

	a:visited
		text-decoration none

	.badge
		font-size 7px
		font-weight bold
		text-align center
		white-space nowrap
		border 1px solid black
		border-radius 8px

.navbar-brand
	img
		height 18px
		margin 3px
