@media print
	#glossary
		page-break-before always

	tr, td
		page-break-inside avoid

	body
		font-size 8px

	a:visited
		text-decoration none

	tr.newsprint
		td
			border-top 1px solid #000 !important

.navbar-brand
	img
		height 18px
		margin 3px

#backlog
	ul
		padding-left 1em

	ol
		padding-left 1.5em
