@media print
	#glossar 
		page-break-before always

	tr, td
		page-break-inside avoid

	body
		font-size 8px
		padding 0px 10px

	a:visited
		text-decoration none


	tr.newsprint
		td
			border-top 1px solid #000 !important

#sidebar > *
	display inline-block

ul
	padding-left 1em

ol
	padding-left 1.5em

