table.table.table-condensed.table-hover
	thead
		tr
			th
			th
				| Name
				a(href='#remark2')
					sup 2
			th Beschreibung
			th Abnahme
			th Demo
			th
				| Story Points
				a(href='#remark1')
					sup 1
				sup ,
				a(href='#remark3')
					sup 3
			th Sprint
			th.hidden-print Notizen
			th Abhängig­keiten
	tbody
