td
	| #
	= locals.id
td
	b
		= locals.name
	| :
	= locals.description
	br
	if locals.sprint 
		span.badge
			| Sprint 
			= sprint 
	for dependency, index in locals.dependencies || []
		a.badge(href="#story" + dependency)
			| User Story #
			= dependency
td
	ul
		for requirement in locals.requirements || []
			li= requirement
td
	ol
		for activity in locals.process || []
			li= activity
td
	ul
		for comment in locals.comments || []
			li=comment
td
	if locals.points
		= locals.points
		| P
		if locals.pointsShare
			| (
			= locals.pointsShare.toFixed(1)
			| )
		if locals.nonCommital
			| 
			span.glyphicon.glyphicon-comment(title='Unverbindliche Schätzung')
